# Backend dotenv example

NODE_ENV=development

# MongoDB connection string
MONGODB_URI=mongodb+srv://abhijaydhar01_db_user:HcY80sWOQ81uikSj@cluster0.q4puiij.mongodb.net/

# JWT secret for auth tokens
JWT_SECRET=521b677bf9ba2b826854f3d9a2d4585c

ML_API_URI = http://127.0.0.1:8001/predict

# Express server port
PORT=5000

